:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
}
table td {
  border: 1px solid #ddd;
  padding: 8px 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}
::-webkit-scrollbar-button {
  display: none;
}
